@page
@addTagHelper "*, TomSun.AspNetCore.RazorReact"

@using TomSun.AspNetCore.Extensions.TagHelpers
@using TomSun.AspNetCore.RazorReact.DemoApp
@using TomSun.AspNetCore.RazorReact.DemoApp.Pages
@model TomSun.AspNetCore.RazorReact.DemoApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<react-scripts/>

<react component-type="@typeof(HelloWorld)">
    <div>
        Hi @HelloWorld.Bind(x => x.state.Greetings)<br />
        Server time is: @HelloWorld.Bind(x => x.state.ServerTime)
    </div>
</react>


@functions{
    

}